@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
    font-size: 30px;
    background-color:#CEEDEF;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', 'sans-serif';
}

h1{
    font-weight: 40px;
    margin: 0px;
    padding: 10px;
    font-size: 35px;
    background-color: lightgreen;
}

.container{
    position: relative;
    height: 200px;
    margin-top: 50px;
 }
 
.question{
    font-size: 40px;
    margin-bottom: 10px;
}

.answers{
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label{
    margin-bottom: 10px;
    display: block;
}

button{
    font-family: sans-serif;
    font-size: 20px;
    padding: 13px;
    cursor: pointer;
    margin-bottom: 20px;
    border-color: black;
    border-radius: 4px;
    border:0px;
}

button:hover{
    background-color: lightcoral;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide{
    opacity: 1;
    z-index: 2;
}
